img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  float: left;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
h1 {
  color: black;
  text-align: left;
}
h2 {
  color: green;
  font-style: italic;
  text-align: left;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
.grid-container {
  display: grid;
  height: 400px;
  /* align-content: end; */
}

.list {
  border: 2px solid red;
  padding: 2px;
  margin: 70px;
  background-color: #D69595 ;
}
.aboutme {
  padding: 5px;
  text-align: left;
  height: 50px;
}
.econtainer {
  border: 1px solid red;
  padding: 6px;
  margin: 10px;
  background-color: #FAF0F0 ;

#card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }


@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    background-color: black;
    color: white;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-color: white;

  }
