
.final {
  background-color: yellowgreen;
  float: right;
}
.grid-container {
  display: grid;
  grid-template-areas:
  'one one one one one one'
  'two two three three three three'
  'four four four four four four'
  'five five five five five five'
  'six six six six six six';

h1 {
    color: blue;

    text-align: center;
  }
h2 {
    color: #77210F;
    font-style: italic;
    text-align: center;
 }
 p {
  font-family: sans-se sans-serif;
}
ul {
   line-height: 40px;
 }
 .intro {
       font-style: italic;
     }
 .author {
    color: red;
  }
  p.author {
    font-size: 12px;
  }
  .important {
    color:red;
  }
  .unimportant {
    color: blue
  }
  .cat-climate {
     background-color: <div class="column">;
  }
  img {
  float: left;
}
img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 10%
}
img {
float: left;
}
.sidebar {
  width: 40%;
  float: right;

}
.column {
  width: 450px;
  float: left;
}
.test-box{
  border-left: 2px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 8px solid-black;
}
.test {
  border: 2px solid red;
  padding: 6px
  margin: 20px;
  background-color: yellow;
}
.cats p {
  background-color: coral;
}
#one {
  background-color: red;
  grid-area: one;
}
#two {
  background-color: purple;
  grid area: two;
}
}
.dogs p {
  background-color: steelbluel;
}
}
.cats p a {
  font-weight: bold;
}
}
.dogs p a {
  font-style: italic;
  @media screen and (min-width: 580px) and (max-width: 767px) {
   body {
     background-color: black;
     color: white;
   }
   @media screen and (min-width: 768px) {
   body {
     background-color: yellowgreen;
     color: white;
  }
  .column {
     width: 390px;

     float: left;
     padding: 15px;
   }
  }
img {
  float: left;
}
.test-box {
  border-left: 2px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 8px solid black;
}
.test-box {
  border: 2px solid red;
  padding: 6px;
}
@media screen and (min-width: 480px) {
  body {
    background-color: black;
    color: white;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-color: yellowgreen;

  }
}
.column {
width: 220px;
float: left;
padding: 15px;
  }
}
.introd {
  font-style: italic;
}
